doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rattlesnek 
    
    style.
        body{
            font-family: 'VT323', monospace;
            background-color: #003366;
            color: white;
            text-align:center;
        }
        a{
            color:red;
        }
    body 
        h1 Oops... There seems to be have been a problem,
        span Click 
        a(href="/") here
        span &nbspto sign in again

        include ./footer.pug
