html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet")

        title Document

        style.
            body{
                background-color: #003366;
                font-family: 'VT323', monospace;
                color:#e6f2ff;
                user-select: none;
            }
            .foot{
                border-top:1px dashed #80bfff;
                width: 95%;
                margin-left:auto;
                margin-right:auto;
                padding:10px;
                display:flex;
                justify-content:space-evenly;
                margin-bottom:30px;
            }
            .foot a, .foot span{
                font-size:18px;
                color:white;
            }
            .foot a:hover{
                color:lime;
                text-decoration:none;
            }
    body
        br
        br
        br
        .foot
            div
                h2 Navigation
                a(href="/leaderboard" target="_blank") Leaderboard
                br
                a(href="/logout" target="_blank") Logout
                br
            div
                h2 Contact
                span gufransabri472@outlook.com
                br
                a(href="https://twitter.com/GufranSabri" target="_blank") Twitter
                br
            div
                h2 Other Works
                a(href="https://learn-ds.herokuapp.com/" target="_blank") DSLearn
                br
                a(href="https://github.com/gufranSabri/Samurai-Rendition" target="_blank") Samurai Rendition
                br