doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" type="text/css" href="/leaderboard.css")
        link(rel='shortcut icon' type='image/png' href='/Images/l.png')
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

        title Rattlesnek - Leaderboard
    script.
        var board= JSON.parse('!{data}')
        var GOLD="#d4af37", SILVER="#C0C0C0", BRONZE="#cc6633"
        $(document).ready(function(){
            board.sort(function(a, b){return b.score - a.score})
            for(var i=0;i<board.length;i++){
                var ele = document.createElement("DIV");
                var s1 = document.createElement("SPAN");
                s1.innerHTML=(i+1)+". " +board[i].name;
                var s2 = document.createElement("SPAN");
                s2.innerHTML="Score: "+ board[i].score;

                ele.id="bar";
                ele.appendChild(s1);
                ele.appendChild(s2);

                if(i==0)ele.style.backgroundColor=GOLD
                if(i==1)ele.style.backgroundColor=SILVER
                if(i==2)ele.style.backgroundColor=BRONZE

                document.getElementById("lol").appendChild(ele);
            }
        })
    body
        .upper
            a(href="/")
                img(src="/Images/l.png" width="75px" height="75px" style="position:relative;top:10px")
        h1 Leaderboard
        div#lol
        include ./footer.pug