body{
    font-family: 'VT323', monospace;
    background-color: #003366;
    color: white;
    margin: 0;
}
h1{
    font-size: 50px;
    text-align: center;
}
#bar{
    border-radius: 5px;
    border: #80bfff 1px solid;
    padding:5px;
    width: 30%;
    height: 40px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}
.upper{
    width: 100%;
    margin: auto;
    height: 100px;
    background: #00264d;
    display: flex;
    justify-content: space-evenly;
}
@media (max-width:1500px){#bar{width: 97%;}}